In [2]:
import pymysql

In [3]:
%load_ext sql

In [14]:
%sql sqlite:///airbnb.db

In [15]:
%%sql
CREATE TABLE CITIES (
    city_id INT PRIMARY KEY,
    room_type VARCHAR(255),
    room_share VARCHAR(255),
    room_price DECIMAL(10, 2),
    person_capacity INT,
    host_is_superhost BOOLEAN,
    multi BOOLEAN,
    biz BOOLEAN,
    cleanliness_rating DECIMAL(4, 2),
    guest_satisfaction DECIMAL(4, 2),
    bedrooms INT,
    dist DECIMAL(10, 2),
    metro_dist DECIMAL(10, 2),
    attr_index DECIMAL(6, 2),
    attr_index_norm DECIMAL(6, 2),
    rest_index DECIMAL(6, 2),
    rest_index_norm DECIMAL(6, 2),
    Ing DECIMAL(6, 2),
    Iat DECIMAL(6, 2),
    city_name VARCHAR(255),
    day_of_the_week VARCHAR(255)
);

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
Done.

[]

In [16]:
%%sql
SELECT * FROM CITIES

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
Done.

[]

In [17]:
%%sql
ALTER TABLE CITIES
ADD realSum DECIMAL(10, 2);

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
Done.

[]

In [18]:
%%sql
SELECT * FROM CITIES

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
Done.

[]

In [22]:
%%sql
INSERT INTO CITIES (room_type, room_share, room_price, person_capacity, host_is_superhost, multi, biz, cleanliness_rating, guest_satisfaction, bedrooms, dist, metro_dist, attr_index, attr_index_norm, rest_index, rest_index_norm, Ing, Iat, city_name, day_of_the_week, realSum)
VALUES ('private room', 0, 'TRUE', 2, 'FALSE', 0, 1, 9, 88, 1, 4.7633, 0.852117, 110.906, 125.871971, 136.9822, 11.941560, 4.84639, 52.34137, 'amsterdam', 'weeekends', 319.6400);

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
1 rows affected.

[]

In [24]:
%%sql
SELECT * FROM CITIES

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
Done.

[(None, 'private room', '0', 'TRUE', 2, 'FALSE', 0, 1, 9, 88, 1, 4.7633, 0.852117, 110.906, 125.871971, 136.9822, 11.94156, 4.84639, 52.34137, 'amsterdam', 'weeekends', 319.64)]

In [25]:
%%sql
DROP TABLE CITIES;

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
Done.

[]

In [29]:
%%sql
CREATE TABLE AIRBNB_CITIES (
    city_id INT PRIMARY KEY,
    realSum DECIMAL(10,2),
    room_type VARCHAR(255),
    room_share VARCHAR(255),
    room_private DECIMAL(10, 2),
    person_capacity INT,
    host_is_superhost BOOLEAN,
    multi BOOLEAN,
    biz BOOLEAN,
    cleanliness_rating DECIMAL(4, 2),
    guest_satisfaction DECIMAL(4, 2),
    bedrooms INT,
    dist DECIMAL(10, 2),
    metro_dist DECIMAL(10, 2),
    attr_index DECIMAL(6, 2),
    attr_index_norm DECIMAL(6, 2),
    rest_index DECIMAL(6, 2),
    rest_index_norm DECIMAL(6, 2),
    Ing DECIMAL(6, 2),
    Iat DECIMAL(6, 2),
    city_name VARCHAR(255),
    day_of_the_week VARCHAR(255)
);

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
Done.

[]

In [31]:
%%sql
SELECT * FROM AIRBNB_CITIES

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
Done.

[]

In [36]:
%%sql
INSERT INTO AIRBNB_CITIES (city_id,realSum,room_type, room_share, room_private, person_capacity, host_is_superhost, multi, biz, cleanliness_rating, guest_satisfaction, bedrooms, dist, metro_dist, attr_index, attr_index_norm, rest_index, rest_index_norm, Ing, Iat, city_name, day_of_the_week)
VALUES (0,319.6400,'private room', 0, 'TRUE', 2, 'FALSE', 0, 1, 9, 88, 1, 4.7633, 0.852117, 110.906, 125.871971, 136.9822, 11.941560, 4.84639, 52.34137, 'amsterdam', 'weeekends');

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
1 rows affected.

[]

In [42]:
%%sql
ALTER TABLE AIRBNB_CITIES
DROP COLUMN city_id;

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
(sqlite3.OperationalError) cannot drop PRIMARY KEY column: "city_id"
[SQL: ALTER TABLE AIRBNB_CITIES
DROP COLUMN city_id;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [37]:
%%sql
SELECT * FROM AIRBNB_CITIES

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
Done.

[(0, 319.64, 'private room', '0', 'TRUE', 2, 'FALSE', 0, 1, 9, 88, 1, 4.7633, 0.852117, 110.906, 125.871971, 136.9822, 11.94156, 4.84639, 52.34137, 'amsterdam', 'weeekends')]

In [38]:
%%sql
DELETE FROM AIRBNB_CITIES
WHERE city_id = 0
  AND realSum = 319.6400
  AND room_type = 'private room'
  AND room_share = 0
  AND room_private = 'TRUE'
  AND person_capacity = 2
  AND host_is_superhost = 'FALSE'
  AND multi = 0
  AND biz = 1
  AND cleanliness_rating = 9
  AND guest_satisfaction = 88
  AND bedrooms = 1
  AND dist = 4.7633
  AND metro_dist = 0.852117
  AND attr_index = 110.906
  AND attr_index_norm = 125.871971
  AND rest_index = 136.9822
  AND rest_index_norm = 11.941560
  AND Ing = 4.84639
  AND Iat = 52.34137
  AND city_name = 'amsterdam'
  AND day_of_the_week = 'weeekends';

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
1 rows affected.

[]

In [39]:
%%sql
SELECT * FROM AIRBNB_CITIES

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
Done.

[]

In [40]:
%%sql
INSERT INTO AIRBNB_CITIES (city_id, realSum, room_type, room_share, room_private, person_capacity, host_is_superhost, multi, biz, cleanliness_rating, guest_satisfaction, bedrooms, dist, metro_dist, attr_index, attr_index_norm, rest_index, rest_index_norm, Ing, Iat, city_name, day_of_the_week)
VALUES (0, 319.6400, 'private room', 'FALSE', 'TRUE', 2, 'FALSE', 0, 1, 9, 88, 1, 4.7633, 0.852117, 110.906, 125.871971, 136.9822, 11.941560, 4.84639, 52.34137, 'amsterdam', 'weeekends');

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
1 rows affected.

[]

In [41]:
%%sql
INSERT INTO AIRBNB_CITIES (city_id, realSum, room_type, room_share, room_private, person_capacity, host_is_superhost, multi, biz, cleanliness_rating, guest_satisfaction, bedrooms, dist, metro_dist, attr_index, attr_index_norm, rest_index, rest_index_norm, Ing, Iat, city_name, day_of_the_week)
VALUES (0, 347.9952, 'private room', 'FALSE', 'TRUE', 2, 'FALSE', 0, 1, 9, 87, 1, 5.748310, 3.651591, 75.27593, 3.985516, 95.3864, 8.315410, 4.9751, 52.36103, 'amsterdam', 'weeekends');

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
(sqlite3.IntegrityError) UNIQUE constraint failed: AIRBNB_CITIES.city_id
[SQL: INSERT INTO AIRBNB_CITIES (city_id, realSum, room_type, room_share, room_private, person_capacity, host_is_superhost, multi, biz, cleanliness_rating, guest_satisfaction, bedrooms, dist, metro_dist, attr_index, attr_index_norm, rest_index, rest_index_norm, Ing, Iat, city_name, day_of_the_week)
VALUES (0, 347.9952, 'private room', 'FALSE', 'TRUE', 2, 'FALSE', 0, 1, 9, 87, 1, 5.748310, 3.651591, 75.27593, 3.985516, 95.3864, 8.315410, 4.9751, 52.36103, 'amsterdam', 'weeekends');]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [43]:
%%sql
DROP TABLE AIRBNB_CITIES;

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
Done.

[]

In [44]:
%%sql
CREATE TABLE CITIES_AIRBNB (
    realSum DECIMAL(10,2),
    room_type VARCHAR(255),
    room_share VARCHAR(255),
    room_private DECIMAL(10, 2),
    person_capacity INT,
    host_is_superhost BOOLEAN,
    multi BOOLEAN,
    biz BOOLEAN,
    cleanliness_rating DECIMAL(4, 2),
    guest_satisfaction DECIMAL(4, 2),
    bedrooms INT,
    dist DECIMAL(10, 2),
    metro_dist DECIMAL(10, 2),
    attr_index DECIMAL(6, 2),
    attr_index_norm DECIMAL(6, 2),
    rest_index DECIMAL(6, 2),
    rest_index_norm DECIMAL(6, 2),
    lng DECIMAL(6, 2),
    lat DECIMAL(6, 2),
    city_name VARCHAR(255),
    day_of_the_week VARCHAR(255)
);

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
Done.

[]

In [45]:
%%sql
SELECT * FROM CITIES_AIRBNB

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
Done.

[]

In [48]:
%%sql

INSERT INTO CITIES_AIRBNB ( realSum, room_type, room_share, room_private, person_capacity, host_is_superhost, multi, biz, cleanliness_rating, guest_satisfaction, bedrooms, dist, metro_dist, attr_index, attr_index_norm, rest_index, rest_index_norm, lng, lat, city_name, day_of_the_week)
VALUES (319.6400534,'Private room','FALSE','TRUE',2,'FALSE',0,1,9,88,1,4.763359741,0.852117397,110.9061233,5.871971404,136.9822078,11.9415603,4.84639,52.34137,'amsterdam','weekends')

   sqlite:///airbnb-europe-prices.db
 * sqlite:///airbnb.db
1 rows affected.

[]

In [ ]:
%%sql

INSERT INTO CITIES_AIRBNB ( realSum, room_type, room_share, room_private, person_capacity, host_is_superhost, multi, biz, cleanliness_rating, guest_satisfaction, bedrooms, dist, metro_dist, attr_index, attr_index_norm, rest_index, rest_index_norm, lng, lat, city_name, day_of_the_week)
VALUES(347.9952195,Private room,FALSE,TRUE,2,FALSE,0,1,9,87,1,5.748310293,3.651591499,75.27593656,3.985516163,95.38646779,8.31541027,4.97512,52.36103,amsterdam,weekends'),
(482.9751834,Private room,FALSE,TRUE,4,FALSE,0,1,9,90,2,0.384872086,0.43985163,493.2725175,26.11652118,875.1148175,76.28900523,4.89417,52.37663,amsterdam,weekends),
(194.0336981,Private room,FALSE,TRUE,2,FALSE,1,0,10,93,1,5.022963798,2.539380003,78.69037927,4.166707868,98.25389587,6.846472824,4.90569,52.41772,amsterdam,weekdays),
(344.245776,Private room,FALSE,TRUE,4,FALSE,0,0,8,85,1,0.488389289,0.239403923,631.1763783,33.42120862,837.2807567,58.34292774,4.90005,52.37432,amsterdam,weekdays),
(264.1014224,Private room,FALSE,TRUE,2,FALSE,0,1,9,87,1,5.748311915,3.651621289,75.27587691,3.9859077,95.38695493,6.646700255,4.97512,52.36103,amsterdam,weekdays),
(129.8244792,Entire home/apt,FALSE,FALSE,4,FALSE,0,0,10,100,2,2.813963501,0.881890002,55.34857178,2.086871151,78.77837697,5.915159963,23.766,37.983,athens,weekdays),
(138.9637476,Entire home/apt,FALSE,FALSE,4,TRUE,1,0,10,96,1,0.40729292,0.304567868,240.3066539,9.060559418,407.1676962,30.57262852,23.73168,37.97776,athens,weekdays),
(156.3049235,Entire home/apt,FALSE,FALSE,3,TRUE,0,1,10,98,1,1.237211131,0.288488057,199.5073658,7.522256718,395.9674026,29.73164232,23.722,37.979,athens,weekdays),
(138.9637476,Entire home/apt,FALSE,FALSE,4,TRUE,1,0,10,96,1,0.40727768,0.304569679,240.3064964,9.054205318,407.1679576,6.080621638,23.73168,37.97776,athens,weekends),
(91.62702411,Entire home/apt,FALSE,FALSE,4,TRUE,1,0,10,99,1,4.367463095,0.297473534,39.80299633,1.499686885,58.70652227,0.876719651,23.72712,38.01435,athens,weekends),
(76.62925035,Private room,FALSE,TRUE,2,FALSE,0,0,10,100,1,2.194173759,0.38524748,78.73400136,2.96651911,113.3266842,1.692413844,23.73391,37.99529,athens,weekends),
(474.3174995,Entire home/apt,FALSE,FALSE,4,FALSE,0,1,10,91,1,1.111996478,0.630490946,526.4694202,17.94292696,915.5870828,20.15488958,2.17556,41.39624,barcelona,weekday),
(169.8978286,Private room,FALSE,TRUE,2,TRUE,1,0,10,88,1,1.751839016,0.124017172,320.1275255,10.91046239,794.2773503,17.48448901,2.14906,41.38714,barcelona,weekday),
(161.984779,Private room,FALSE,TRUE,4,FALSE,0,1,9,88,1,1.670492897,0.080321976,344.073936,11.72659468,840.6736173,18.50581364,2.15357,41.37859,barcelona,weekday),
(532.0362138,Entire home/apt,FALSE,FALSE,4,FALSE,0,1,10,91,1,1.111998031,0.630503955,526.4714724,20.32767195,915.5914548,20.11246809,2.17556,41.39624,barcelona,weekend),
(169.8978286,Private room,FALSE,TRUE,2,TRUE,1,0,10,88,1,1.751830926,0.124012733,320.1282638,12.36052221,794.2796598,17.44765553,2.14906,41.38714,barcelona,weekend),
(196.8952917,Private room,FALSE,TRUE,2,FALSE,1,0,9,90,1,0.621730811,0.297515605,503.3540251,19.43508059,1242.434221,27.29210556,2.165,41.383,barcelona,weekend),
()